In [2]:
import re
from konlpy.tag import Hannanum
from pprint import pprint
import nltk
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict

In [71]:
doc = pd.read_excel("./data/심쿵+당연시+아만다+정오 후 TF-IDF.xlsx")

In [72]:
doc2=pd.read_excel("./data/심쿵+당연시+아만다+정오 후.xlsx")

In [73]:
del doc['Unnamed: 0']
del doc2['Unnamed: 0']

In [74]:
doc.head(2)

   documents sentences    values
0          0        1년  0.139216
1          0        무료  0.202805

In [75]:
doc2.head(2)

      DATE  STAR                                             REVIEW
0  2020112     1  1년전 무료로 이용했을땐 너무 잘 이용 하고있었습니다 그래서 그전에 도움 받은것도있...
1  2020105     1  수시로 젬 결제해서 좋아요 보낸것만 수십명... 연결된건 열 손가락안에 꼽을정도? ...

In [76]:
doc2['documents']=doc2.index

In [77]:
doc2.head(2)

      DATE  STAR                                             REVIEW  documents
0  2020112     1  1년전 무료로 이용했을땐 너무 잘 이용 하고있었습니다 그래서 그전에 도움 받은것도있...          0
1  2020105     1  수시로 젬 결제해서 좋아요 보낸것만 수십명... 연결된건 열 손가락안에 꼽을정도? ...          1

In [78]:
doc3=pd.merge(doc,doc2, on='documents')

In [79]:
doc3.head(2)

,documents,sentences,values,DATE,STAR,REVIEW
0,0,1년,0.139216,2020112,1,1년전 무료로 이용했을땐 너무 잘 이용 하고있었습니다 그래서 그전에 도움 받은것도있...
1,0,무료,0.202805,2020112,1,1년전 무료로 이용했을땐 너무 잘 이용 하고있었습니다 그래서 그전에 도움 받은것도있...

In [80]:
del doc3['DATE']
del doc3['REVIEW']

In [81]:
doc3['Weight STAR']=doc3['STAR']-2

In [82]:
doc3.head()

   documents sentences    values  STAR  Weight STAR
0          0        1년  0.139216     1           -1
1          0        무료  0.202805     1           -1
2          0     이용했을땐  0.199904     1           -1
3          0        이용  0.203717     1           -1
4          0        그전  0.159437     1           -1

In [83]:
del doc3['STAR']

In [84]:
doc3['Weighted value']=doc3['values']*doc3['Weight STAR']

In [85]:
doc3[20:300]

     documents sentences    values  Weight STAR  Weighted value
20           0         듯  0.000000           -1       -0.000000
21           0         젬  0.000000           -1       -0.000000
22           0     처먹기만하  0.199904           -1       -0.199904
23           0        대답  0.127287           -1       -0.127287
24           0         안  0.000000           -1       -0.000000
..         ...       ...       ...          ...             ...
295          5       그니깐  0.193971            1        0.193971
296          5       본인들  0.163957            1        0.163957
297          5        수준  0.133297            1        0.133297
298          5        생각  0.091402            1        0.091402
299          5         누  0.000000            1        0.000000

[280 rows x 5 columns]

In [86]:
doc3.to_excel('심쿵+당연시+아만다+정오 후 긍정_부정.xlsx')